@using Movid.Shared.PagedList
@using Movid.Web.Infrastructure.Extensions
@model Movid.App.Controllers.Administration.MasterExerciseSearchResults

<div id="content-wrapper">
    <div class="row" id="page-heading">
        <div class="col-sm-8">
            <h3><i class="icon-warning-sign orange-icon"></i> Master Exercise Library Management</h3>
            <em>
                You are editing the master list of exercises.
            </em>
        </div>
        <div class="col-sm-4" style="text-align: right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-blue" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Search for Exercises:</h4>
            @using (Html.BeginForm("List", "MasterExercise", null, FormMethod.Post, new {@class = "form-horizontal"}))
            {
                <div class="input-group">
                    <input type="text" class="form-control" name="searchTerm" id="exercise-search" placeholder="search terms" value="@Model.SearchTerm" />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Search"></input>
                    </span>
                </div>
            }
        </div>
        
        <div class="col-md-6">
            @if (Model.Results.Count > 0)
            {
                <h4>Showing @Model.Results.FirstItemOnPage to @Model.Results.LastItemOnPage of @Model.Results.TotalItemCount</h4>

                @Html.PagedListPager(Model.Results, page => Url.Action("List", new { page=page, searchTerm = Model.SearchTerm}), new PagedListRenderOptions() {ContainerDivClasses = new string[0], UlElementClasses = new string[] {"pagination"}})
                
            }
            else
            {
                <em>No Results Found</em>
            }
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12">
          <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Categories</th>
                @*<th>Video Id</th>*@
                <th>Description</th>
                <th>Created</th>
                <th>Last Pushed</th>
                <th></th>
   
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Model.Results)
            {
                <tr>
                    <td>
                        <img src="/images/smallthumb/@exercise.Id" class="img-rounded" width="200" height="112">
                    </td>
                    <td>@exercise.Name</td>
                    <td>
                        @Html.Raw(string.Join("<br />", exercise.Categories))
                    </td>
                    @* <td>
                        @exercise.VideoId
                    </td>*@
                    <td>
                        @exercise.Description.TruncateWithDots(25)
                    </td>
                    <td>
                        @exercise.CreatedOn
                    </td>
                    <td>
                        @exercise.LastPushedOut
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("Edit", "MasterExercise", new { Id = @exercise.Id })"><i class="icon-edit"></i> Edit</a></li>
                                <li class="divider"></li>
                                <li><a class="delete-link" href="@Url.Action("Delete", "MasterExercise", new { Id = @exercise.Id })"><i style="color: #d9534f" class="icon-remove"></i> Delete</a></li>
                            </ul>
                        </div>   
                    </td>
                </tr>
            }
        </tbody>
    </table>  
        </div>
    </div>
</div>      

@section PageJs{
    <script type="text/javascript">

        $(function () {


            $("button.refresh-thumb").live('click', function (event) {
                var videoId = $(this).attr('data-video-id');
                var exerciseId = $(this).attr('data-exer-id');
                var button = $(this);
                $.post('/library/refresh-thumb', { 'videoId': videoId, 'exerciseId': exerciseId }, function (r) {
                    button.closest('tr').find('img').fadeOut().attr('src', r).fadeIn();
                });
            });

            $('a.delete-link').live('click', null, function () {
                if (!confirm('Are you sure you want to delete?')) {
                    return false;
                }
            });

         
        });

      
    </script>
}
