@model Movid.Shared.Model.Exercise

    @{ ViewBag.Title = Model.Name; }

@section PageTitle{
    @Model.Name  by Movid Home Exercise Program
}

@section PageDescription{
    Video of @Model.Name from our library.
}

<h2 class="no-top-margin">@Model.Name</h2>
@Html.ActionLink("Back to Exercises", "PublicLibrary", "PublicLibrary")
<div class="row">
    <div class="col-md-6">
        <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/@Model.VideoId?byline=0&amp;color=ffffff"  frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="col-md-6">
        @Model.Description
    </div>
</div>